<div id="header">
	<div class="image link" onclick="javascript:loadMessagesList()">
		<img alt="LOGO" src="logo.png" width="100">
	</div>
	<div class="search">
		<form action="javascript:(function(){ return; })()" method="get" onsubmit="javascript:searchTwister(this)">
			<input type="text" name="query" class="searchbar" placeholder="" />
			<input type="submit" name="search" value="Rechercher" class="btn" />
		</form>
	</div>
	<div class="deco link" onclick="javascript:userDeconnexion()">
		Déconnexion
	</div>
</div>
<div id="nav">
	Zone Statistiques
</div>

<div id="content">
	
</div>

<div id="footer">
	© SIMON-FINE Thibaut
</div>

<div id="popup-opaque" class="opaque"></div>
<div id="popup-message-container" class="divpopup" tabindex="-1"></div>