<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Twister SIMON-FINE Thibaut</display-name>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>servelets.users.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/user/createUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servelets.users.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servelets.users.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>servelets.friends.AddFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/friend/addFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveFriend</servlet-name>
    <servlet-class>servelets.friends.RemoveFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFriend</servlet-name>
    <url-pattern>/friend/removeFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFriend</servlet-name>
    <servlet-class>servelets.friends.ListFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFriend</servlet-name>
    <url-pattern>/friend/listFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMessage</servlet-name>
    <servlet-class>servelets.messages.AddMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMessage</servlet-name>
    <url-pattern>/message/addMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMessage</servlet-name>
    <servlet-class>servelets.messages.GetMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessage</servlet-name>
    <url-pattern>/message/getMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListMessage</servlet-name>
    <servlet-class>servelets.messages.ListMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMessage</servlet-name>
    <url-pattern>/message/listMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveMessage</servlet-name>
    <servlet-class>servelets.messages.RemoveMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMessage</servlet-name>
    <url-pattern>/message/removeMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>servelets.services.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/services/search</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposed.headers</param-name>
      <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
    </init-param>
    <init-param>
      <param-name>cors.support.credentials</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>cors.preflight.maxage</param-name>
      <param-value>10</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>