<div id="connexion_main">
	<form action="javascript:(function(){ return; })()" method="get" onsubmit="javascript:userInscription(this)">
		<div class="champs">
			<div class="labels">
				<span>Login</span><br>
				<span>Mot de passe</span><br>
				<span>Nom</span><br>
				<span>Prénom</span><br>
				<span>Âge</span>
			</div>
			<div class="inputs">
				<input type="text" name="login" placeholder="Entrez votre login" /><br>
				<input type="password" name="pwd" placeholder="Entrez votre mot de passe" /><br>
				<input type="text" name="nom" placeholder="Entrez votre nom (optionel)" /><br>
				<input type="text" name="prenom" placeholder="Entrez votre prénom (optionel)" /><br>
				<input type="number" name="age" placeholder="Entrez votre âge (optionel)" />
			</div>
		</div>
		<div class="champs">
			<div class="submits">
				<input type="submit" name="inscription" value="Inscription" class="btn" />
			</div>
			<div class="links">
				<div id="link1" class="link" onclick="javascript:loadConnexionPage()">Déjà un compte ?</div>
			</div>
		</div>
	</form>
</div>
