<div id="title">Les Messages</div>
<div class="category-title">Écrire un message</div>
<div id="messages-new">
	<div class="newmessage-box">
		<form action="javascript:(function(){ return; })()" method="get" onsubmit="javascript:nouveauMessage(this)">
			<textarea name="content" placeholder="Écrivez votre message" class="newmessage-content"></textarea>
			<input type="submit" name="message" value="Envoyer" class="btn btn-newmessage" />
			<div style="overflow: hidden; clear: both;"></div>
		</form>
	</div>
</div>
<div class="category-title">Messages de vos amis</div>
<div id="messages-friends"></div>
<div class="category-title">Community Messages</div>
<div id="messages-community"></div>